$itemGrow: 1.2;
$duration: 250ms;

$primary: #48185b;
$secondary: #ff9200;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #fff;
}

h1 {
  font-family: Arial;
  color: $primary;
  text-align: center;
}

header{
  display: flex;
  justify-content: start;
  margin: 20px;

  .logo{
    width: 10vw                                                                                               ;
  }
}

.title{
  color: $primary;
  text-align: center;
  font-size: 25pt;
  font-weight: normal;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4,100%);
  overflow:hidden;
  scroll-behavior: smooth;

  section {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    margin: 20px 0;
    
    .item {
      max-width: 250px;
      padding: 0 30px;
      transition: $duration all;

      &:hover { 
        margin: 0 40px;
        transform: scale(1.1);
      }

      img{
        width: 180px;
         user-select: none;
      }

      h3 {
        font-weight: lighter;
      }

      .price-product{
        h3{
          color: $primary;
        }
        h3, small {
          font-weight: lighter;
          display: inline;
        }
        h4, small {
          font-weight: lighter;
          display: inline;
        }
      }
      .old-price-product {
        margin: -1rem 0 -1rem 0;
        h6 {
          color: #8a8888;
          text-decoration: line-through;
        }
      }

      .rating{
        position: relative;
        float: right;
        background-color: #ddddddc2;
        width: 25px;
        height: 25px;
        border: 1px solid #ddddddc2;
        border-radius: 1px 1px 20px 20px;
        text-align: center;
        padding-top: 2%;
        color: $primary;
        font-weight: bold;
      }

      .discount-rate {
        position: relative;
        float: left;
        background-color:$primary;
        width: 35px;
        height: 20px;
        border: 1px solid $primary;
        border-radius: 1px;
        text-align: center;
        padding-top: 2%;
        color: #fff;
        font-weight: lighter;
      }
    }
    
    a {
      position: absolute;
      color: $secondary;
      text-decoration: none;
      font-size: 6em;
      background: transparent;
      width: 80px;
      padding: 40px;
      text-align: center;
      z-index: 1;
      cursor: pointer;
      user-select: none;

      &:nth-of-type(1) {
        top:0; bottom:0; left:0;
      }
      &:nth-of-type(2) {
        top:0; bottom:0; right: 0;
      }
      
    }
    
  }
}

// // Remove the arrow for Mobile
// @media only screen and (max-width: 600px) {
//   a.arrow__btn {
//     display:none;
//   }
// }
